/*


body {
  background-color: rgb(54, 124, 148);
}


h1 {
  color: rgb(66, 58, 179);
  text-align: center;
}


p {
  font-family: verdana;
  font-size: 20px;
}


*/


/* header */
header.fixed-header{
  overflow: hidden !important;
  position: absolute !important;
  top: 0 !important;
  margin-bottom: 100px !important;
}



/* menu */
.bg-dark {
  overflow: hidden !important;
  position: absolute !important;
  background-color: #d3c6bd !important;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  margin-bottom: 100px !important;
}



header {
  margin-bottom: 100px !important;
}


body {
  background-color: #EAE6DF   !important;
}

.formulaire {
  margin-left: auto   !important;
  margin-right: auto   !important;
}




